ul#sidebar-pills.nav.nav-pills.nav-fill.mb-3(role='tablist')
  li.nav-item
    a#procurement-tab.nav-link.active(data-toggle='pill' href='#procurement' role='tab' aria-controls='procurement' aria-selected='false') Procurement
#sidebar-pills-content.tab-content
  #procurement.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='procurement-tab')
    include ./procurement.pug