body {
    font-family: 'Artifakt Element';
    line-height: 1.15;
    background: black;
    color: white;
    padding: 0;
    margin: 0;
}

#header, #viewer, #sidebar {
    position: absolute;
}

#container {
    width: 100vw;
    height: 100vh;
}

#header {
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
}

#header > * {
    padding: 0.5em;
}

#header h {
    font-size: 1.5em;
    font-family: 'Artifakt Legend';
    font-weight: 800;
}

#header > img {
    height: 30px;
    box-sizing: content-box;
}

#viewer {
    left: 0;
    right: 45em;
    top: 50px;
    bottom: 0;
}

#sidebar {
    width: 45em;
    right: 0;
    top: 50px;
    bottom: 0;
    padding: 0 0.5em;
    overflow-y: scroll;
}

#sidebar h {
    font-size: 1.5em;
    font-family: 'Artifakt Legend';
    font-weight: 700;
    padding-bottom: 1em;
}

#sidebar td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar table a {
    color: white;
}

#sidebar table a:hover {
    color: white;
}

.flex-row-center {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
